body {
    background-color: #000;
}
.gradient_text {
    border: 2px solid; 
    border-image: linear-gradient(-70deg, #a2facf 0%, #64acff 100%); 
    border-image-slice: 1; 
    font-weight: 600;
    font-size: 4em;
    background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}