.Nav1 {
    background-color: #000000;
}
.Nav1 a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    text-transform: none;
    transition: 0.5s none;
}

.Nav1 ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Nav1 ul li {
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

.Nav1 ul:hover a {
    color: #575757;
}

.Nav1 ul:hover a:hover {
    color: #8EAAFB;
    box-shadow: 0 2px 0 0 currentColor;
}
